{% extends 'admin.twig' %}

{% set title %}{{ 'ExcludeByDDNS_DDNSStatus'|translate }}{% endset %}

{% block content %}
    <div vue-entry="CoreHome.ContentBlock" content-title="{{ title|e('html_attr') }}">
        <table class="tableForm dataTable entityTable">
            <thead>
            <tr>
                <th>{{ 'General_Username'|translate }}</th>
                <th>{{ 'General_IP'|translate }}</th>
                <th>{{ 'ExcludeByDDNS_Hostname'|translate }}</th>
                <th>{{ 'Marketplace_LastUpdated'|translate }}</th>
            </tr>
            </thead>
            <tbody>
            {% if exclusions|length %}
                {% for exclusion in exclusions %}
                    <tr>
                        <td>{{ exclusion.username }}</td>
                        <td>{{ exclusion.ip }}</td>
                        <td>{{ exclusion.hostname }}</td>
                        <td>{{ exclusion.lastUpdated }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4"><br/>{{ 'ExcludeByDDNS_NoExclusionsSet'|translate }}<br/><br/></td>
                </tr>
            {% endif %}
            </tbody>
        </table>

        <br/><br/>
        <a href="{{ linkTo({'module': 'ExcludeByDDNS', 'action': 'index'}) }}">{{ 'ExcludeByDDNS_DDNSSettings'|translate }}</a>
    </div>
{% endblock %}
