{% extends ['user.twig', 'admin.twig'] %}

{% set title %}{{ 'ExcludeByDDNS_DDNSSettings'|translate }}{% endset %}

{% block content %}
    <div vue-entry="CoreHome.ContentBlock" content-title="{{ title|e('html_attr') }}">

        <p>{{ 'ExcludeByDDNS_DDNSSettingsDescription'|translate }}</p>

        {% if excludedIp %}
            {{ 'ExcludeByDDNS_CurrentExcludedIp'|translate(excludedIp, lastUpdated) }}
        {% else %}
            {{ 'ExcludeByDDNS_NoIpExcluded'|translate }}
        {% endif %}

        <h3>{{ 'ExcludeByDDNS_DDNSUpdateExclusion'|translate }}</h3>

        <p>{{ 'ExcludeByDDNS_DDNSUpdateExclusionDesc'|translate }}</p>

        <pre>{{ updateUrl }}</pre>

        <p>{{ 'ExcludeByDDNS_DDNSUpdateExclusionDesc2'|translate }}</p>


        <h3>{{ 'ExcludeByDDNS_HostnameExclusion'|translate }}</h3>

        <p>{{ 'ExcludeByDDNS_HostnameExclusionDesc'|translate }}</p>
        <p>{{ 'ExcludeByDDNS_HostnameExclusionDesc2'|translate }}</p>

        {% if hostnameError is defined %}
            <p class="error">{{ 'ExcludeByDDNS_HostnameError'|translate }}</p>
        {% endif %}
        <form method="post" action="{{ linkTo([]) }}">
            <input type="hidden" name="nonce" value="{{ nonce }}"/>
            <label for="excludedHostname">{{ 'ExcludeByDDNS_Hostname'|translate }}</label>
            <input type="text" name="excludedHostname" id="excludedHostname" value="{{ excludedHostname }}" />
            <input type="submit" value="{{ 'General_Save'|translate }}" class="btn" />
        </form>

    </div>
{% endblock %}
